{% extends 'base.html' %}
{% load post_extras %}
{% load static %}
{% block content %}
    <h2>Vos posts</h2>
    {% if error_message %}
        {{ error_message }}
    {% endif %}
    <div class="grid-container">
        {% for post in posts %}
            {% if post|model_type == 'Review' %}
                {% include 'partials/review_snippet.html' with review=post %}
            {% endif %}
            {% if post|model_type == 'Ticket' %}
                {% include 'partials/ticket_snippet.html' with ticket=post %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}