<html>
    <head>
        <title>LITReview</title>
    </head>
    <body>
        <div class="toggle-nav-sidebar">
            {% if user.is_authenticated %}
            <h1>LITReview</h1>
            <p><a href="{% url 'home' %}">Flux</a></p>
            <p><a href="{% url 'posts' %}">Posts</a></p>
            <p><a href="{% url 'subscriptions' %}">Abonnements</a></p>
            <p><a href="{% url 'logout' %}">Se déconnecter</a></p>
        {% endif %}
        </div>
        <div class="main">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>